@import '@fontsource/rajdhani';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Rajdhani', sans-serif;
    }
    body {
        @apply min-h-screen overflow-x-hidden bg-bg text-text
    }
    h1 {
        @apply text-2xl
    }
    h2 {
        @apply text-xl
    }
    a {
        @apply text-primary relative
        after:absolute after:transition-transform after:duration-300
        after:bg-primary after:h-[2px]
        after:inset-0 after:top-auto 
        after:scale-x-0 after:origin-right
        hover:after:origin-left hover:after:scale-x-100
    }

    input, select, textarea {
        @apply text-text text-xl bg-bg border-primary border p-4 focus:outline-none focus:ring-4 focus:ring-primary
    }
    input, select {
        @apply h-4 max-w-sm
    }
}

@layer components {
    .btn {
        @apply py-2 px-4 transition-all hover:-translate-y-2 active:scale-105
        disabled:transform-none disabled:bg-slate-400 disabled:border-slate-400
    }
    .btn-primary {
        @apply btn bg-primary-300
    }
    .link {
        
    }
}

@layer utilities {
    .grid-auto-fill {
        grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
    }
    .grid-auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
}

